//Primary Colors
$very-dark-mangenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
// Neutral Colors
$dark-grayish-mangenta: hsl(303, 10%, 53%);
$dark-grayish-mangenta-bg: hsl(303, 10%, 53%, 0.1);
$light-grayish-mangenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
